html {
  --color-primary: #102261;
  --color-text: #333333;
  --color-border: #33dbdb;
}

body {
  margin: 0;
}

.header {
  padding-top: 16px;
  border-top: 3px solid var(--color-border);
}

.container {
  min-width: 0px;
  margin: 0px auto;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 1224px;
}

.wrapper {
  min-width: 0px;
  margin: 50px auto 0px;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 639px;
}

@media only screen and (min-width: 780px) {
  .wrapper {
    margin: 100px auto 0px;
  }
}

.title {
  font-family: "Georgia", serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.44px;
  line-height: 1.16;
  color: var(--color-primary);
  margin: 0 0 28px 0;
}

@media only screen and (min-width: 780px) {
  .title {
    font-size: 40px;
    margin: 0 0 48px 0;
  }
}

.text {
  font-family: "Helvetica";
  font-size: 14px;
  color: var(--color-text);
  line-height: 1.5;
  margin: 0 0 30px 0;
}

@media only screen and (min-width: 780px) {
  .text {
    font-size: 16px;
    margin: 0 0 43px 0;
  }
}

.search-input {
  padding: 0 16px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 4px;
  width: calc(100% - 30px);
  font-size: 14px;
  font-family: "Helvetica";
  color: "#39393";
  height: 40px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 780px) {
  .search-input {
    margin: 0 0 43px 0;
  }
}

.search-input::placeholder {
  color: "#39393";
}

.people-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.person {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 25px 0;
}

.person:first-child {
  margin-top: 0;
}

.person-image {
  width: 96px;
  height: 96px;
  background-color: #c4c4c4;
  overflow: hidden;
  border-radius: 2px;
  display: block;
  margin-right: 24px;
}

.info-container {
  width: calc(100% - 121px);
}

.name {
  margin: 0 0 8px 0;
  color: var(--color-text);
  font-size: 16px;
  font-weight: bold;
  font-family: "Helvetica";
}

.description {
  margin: 0;
  color: #666;
  font-size: 14px;
  font-family: "Helvetica";
  line-height: 1.5;
}
